/*Global styles*/

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.961);
}

h1 {
    color: white;
    text-transform: uppercase;
    margin-top: 0;
    text-shadow: 1px 1px lightgray;
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-weight: 200;
    font-size: 2.3rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(219, 219, 219);
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(219, 219, 219);
}

.resume-text {
    max-width: 50rem;
}

img {
    width: 15rem;
    height: auto;
    border: solid rgb(219, 219, 219) .1rem;
    border-radius: .5rem;
    position: static;
}

nav {
    margin: auto;
    width: 16rem;
}

nav a {
    display: block;
    margin: 4rem 3rem;
    font-size: 1.8rem;
    color: lightgray;
    text-decoration: none;
    transition: .2s;
}

nav a:hover {
    color: white;
    font-weight: 600;
}


.presentation {
    display: block;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    margin: 3rem 0;
}

span {
    margin-left: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.social a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.social-container {
    background-color: white;
    display: flex;
    width: 225px;
    height: 60px;
    margin: 1rem;
    border: solid darkgray 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px gray;
    min-width: 15rem;
}

.social-container:hover {
    background-color: lightgray;
    font-weight: bold;
    transition: .2s;
}

.resume-page {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    text-align: left;
    animation: fadeIn 1s;
}

.resume-page i:hover {
    color: white;
}

.resume-page i {
    color: lightgray;
    padding: 0.8rem;
    font-size: 2rem;
}

.resume-page i:hover {
    color: white;
    font-size: 2.2rem;
    transition: .2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

footer {
    color: white;
    opacity: .5;
    font-size: .8rem;
    margin-top: 3.5rem;
}

